<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>A static page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/override.css">
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Nixus</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Services</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        {% for service in data %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ loop.key }}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            {% include './partials/frontends.html' %}
                        </div>
                        <div class="col-md-6">
                            {% include './partials/backends.html' %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>

</html>