var proxy = require('/usr/lib/node_modules/redbird')({port: 80});

var domain = process.env["DOMAIN"]

{% for service in services %}
proxy.register(`http://${domain}/{{service}}`, `http://localhost:{{services[service].port}}`);
proxy.register(`http://{{service}}.${domain}`, `http://localhost:{{services[service].port}}`);
{% endfor %}
