<div class="panel panel-warning">
    <div class="panel-heading">
        <strong><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Backend</strong>
    </div>
    <div class="panel-body">
        {% for s in service.backends %}
        <table class="panel-table__servers table table-striped table-hover">
            <tr>
                <td><em>Port</em></td>
                <td><em>Address</em></td>
                <td><em>Name</em></td>
                <td><em>Rewrite</em></td>
                <td><em>Proccess</em></td>
            </tr>
            {% set port = loop.key %}
            {% for row in s %}
            <tr>
                <td>{{port}}</td>
                <td>{{row.addr}}</td>
                <td>{{row.name}}</td>
                <td>{{row.rewrite}}</td>
                <td class="backends" data-target="{{row.name}}"></td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</div>

<script>
    $(function () {
        $('.backends').each(function () {
            var self = $(this);
            var target = self.data('target');
            $.ajax({
                type: "GET",
                url: "http://{{host}}/dockerapi/containers/" + target + "/json",
                dataType: "json",
                withCredentials: true,
                success: function (data) {
                    console.log(data)
                    self.html(data.Config.Cmd.join(' '));
                }
            });
        });
    });
</script>