global
    daemon
    maxconn 4096
    pidfile /var/run/haproxy.pid

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

listen stats
    bind *:1936
    mode http
    stats enable
    stats hide-version
    #stats realm Haproxy\ Statistics
    stats uri /
    #stats auth Username:Password

# Backends
{% for service in services %}
{% for port in services[service]["backends"] %}
# service {{service}}:{{port}}
backend {{ service }}_{{ port }}_backend
    http-check expect status 200
    balance roundrobin
    {% for backend in services[service]["backends"][port] %}
    server {{ backend.name }} {{ backend.addr }} check inter 2s rise 3 fall 2{% endfor %}
{% endfor %}
{% endfor %}

# Reverse Proxy
frontend public
    bind *:80

    {% for service in services %}
    {% for front in services[service]["frontends"] %}
    # service {{front.name}}:{{front.port}}
    acl path_{{front.name}} path_reg -i ^\/{{front.name}}(\/.*?)?$
    acl host_{{front.name}} hdr_beg(host) -i {{front.name}}.
    use_backend {{service}}_{{front.port}}_backend if path_{{front.name}} or host_{{front.name}}
    
    {% endfor %}
    {% endfor %}

{% for service in services %}
{% for front in services[service]["frontends"] %}
frontend {{ service }}_{{ front.name }}_frontend
    bind *:{{ front.port }}
    default_backend {{ service }}_{{ front.port }}_backend
{% endfor %}
{% endfor %}
